What is variables?

In [ ]:
#Variables are assigned name to any argument or code you want to work
a = 12-3

print("a(variable) = ",a)


Rent = 1500 *12

print("Rent(variable)", Rent)

a(variable) =  9
Rent(variable) 18000



#**Arithmetic operators**

How numbers works in Python?

In [ ]:
#Basics Numbers workes directly 

print('Addition = ',123+123456) #Addition 

print('Subtract = ',122-78) # subtract 

print('Multiplication = ',123*45) # Multiplication 

print('Division = ',123/45) # Division  

print('Cube = ',2**3) #Cube #Exponentiation

print('Square = ',2**2) #Square #Exponentiation

print('Modulus = ',8%5) #Modulus

print('Floor division = ',234//11) #Floor division

Addition =  123579
Subtract =  44
Multiplication =  5535
Division =  2.7333333333333334
Cube =  8
Square =  4
Modulus =  3
Floor division =  21

In [ ]:
x, y = 11, 2
(print(x + y),
print(x - y),
print(x * y),
print(x / y),
print(x // y),
print(-x),
print(abs(-x)))

print(x ** y)

13
9
22
5.5
5
-11
11
121

#**Working with Strings**


#####Indexing and Slicing

The four main ways to create strings are the following.

1. Single quotes
'Yes'
2. Double quotes
"Yes"
3. Triple quotes (multi-line)
"""Yes
We Can"""
4. String method
str(​5​) == ​'5'​ ​# True 5. Concatenation
"LO"​ + ​"VE"​ ​# 'LOVE'

These are whitespace characters in strings.

● Newline ​\n

● Space ​\s

● Tab ​\t

In [ ]:
a = 'It is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort Zone'
print(a)

It is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort Zone

In [ ]:
a = "It is simple,(but not easy) Force yourself,out of your head PAST your feelings.Outside of your comfort Zone"

print(a)

It is simple,(but not easy) Force yourself,out of your head PAST your feelings.Outside of your comfort Zone

In [ ]:
a = "'It is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort Zone'"

print(a)

'It is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort Zone'

In [ ]:
from os import replace
a =('It is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort Zone')

print(a[0])

print(a[1:9])

print(a[-3])

print(a[-9:])

print(a.upper())

print(a.lower())

print(a.startswith('easy'))

print(a.endswith('Zone')) 

print(a.find('but')) #To find out the letters or words positions

print(a.replace("bu" ,"Buttttt"))

print(a.join('FBBUTTTTTT'))


print(len(a))





x = a.split()

print(x[3]+ "qwerty")

I
t is sim
o
fort Zone
IT IS SIMPLE, (BUT NOT EASY) FORCE YOURSELF, OUT OF YOUR HEAD PAST YOUR FEELINGS. OUTSIDE OF YOUR COMFORT ZONE
it is simple, (but not easy) force yourself, out of your head past your feelings. outside of your comfort zone
False
True
15
It is simple, (Butttttt not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort Zone
FIt is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort ZoneBIt is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort ZoneBIt is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort ZoneUIt is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort ZoneTIt is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort ZoneTIt is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort ZoneTIt is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort ZoneTIt is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort ZoneTIt is simple, (but not easy) Force yourself, out of your head PAST your feelings. Outside of your comfort ZoneT
110
(butqwerty

#**LIST**

####There are four collection data types in the Python programming language:

1. **List** is a collection which is ordered and changeable. Allows duplicate members.

2. **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

3. **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

4. **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
a = [1,2,4,5,6,7,9,0,1,2]

print(a)

print(len(a))

print(type(a))

print(a[-2])

print(a[2:7])

print(a[:4])

print(a[6:])

print(a[:-4])

print(a[4])

print(a[:])

[1, 2, 4, 5, 6, 7, 9, 0, 1, 2]
10
<class 'list'>
1
[4, 5, 6, 7, 9]
[1, 2, 4, 5]
[9, 0, 1, 2]
[1, 2, 4, 5, 6, 7]
6
[1, 2, 4, 5, 6, 7, 9, 0, 1, 2]

In [ ]:
x= ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(x)

print(len(x))

print(type(x))

print(x[-2])

print(x[2:7])

print(x[:4])

print(x[6:])

print(x[:-4])

print(x[4])

print(x[-4:-1])

print(x[-4:])

print(x[:-3])

print(x[:])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
7
<class 'list'>
melon
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'orange']
['mango']
['apple', 'banana', 'cherry']
kiwi
['orange', 'kiwi', 'melon']
['orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
x.append('Kombucha') #Append Items

print(x)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha']

In [ ]:
x.insert(1,'Peru') #Insert Items with positioning 

print(x)

['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha']

In [ ]:
x
l = ['Sugarcane']
x.extend(l) #Extend List

print(x)

['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

In [ ]:
x = ['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

x.remove("Peru")

print(x)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

Remove Specified Index

The pop() method removes the specified index.

In [ ]:
x = ['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

x.pop(0)

print(x)

['Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

In [ ]:
x = ['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

x.pop()

print(x)

['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha']

The del() keyword also removes the specified index:

In [ ]:
x = ['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

del x[4]

print(x)

['apple', 'Peru', 'banana', 'cherry', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

In [ ]:
x = ['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

del x[0:4]

print(x)

['orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

In [ ]:
x = ['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

del x

Clear the List

The clear() method empties the list.

In [ ]:
x = ['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

x.clear()

print(x) #empty list

[]

#**Python - Loop Lists**

Loop Through a List

In [ ]:
b = ['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

for z in b:
  print(z)

apple
Peru
banana
cherry
orange
kiwi
melon
mango
Kombucha
Sugarcane

Use the range() and len() 

functions to create a suitable iterable.

In [ ]:
b = ['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

for z in range(len(b)):
  print(z)

0
1
2
3
4
5
6
7
8
9

Using a While Loop

In [ ]:
b = ['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

z = 4
while z < len(b):
  print(b[z])
 
  z = z +1

orange
kiwi
melon
mango
Kombucha
Sugarcane

In [ ]:
b = ['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

#FOR Loop

[print(b) for z in b]

['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']
['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']
['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']
['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']
['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']
['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']
['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']
['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']
['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']
['apple', 'Peru', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Kombucha', 'Sugarcane']

[None, None, None, None, None, None, None, None, None, None]

In [ ]:
b = [1,2,3,4,6,'j','k','l']

[print(b) for z in b]

[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']

[None, None, None, None, None, None, None, None]

In [ ]:
b = [1,2,3,4,6,'j','k','l']

for z in b:
  print(b)

[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']
[1, 2, 3, 4, 6, 'j', 'k', 'l']

In [ ]:
l = ['apple', 'Peru', 'banana', 'cherry']



##Python - List Comprehension


new = []

[]